---
http_interactions:
- request:
    method: get
    uri: https://api.edamam.com/api/recipes/v2?app_id=20d03121&app_key=e7c6b6e570d82f449b3136a61862350e&q=zzzzzzzzz&type=public
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"from":1,"to":0,"count":0,"_links":{},"hits":[]}'
  recorded_at: Tue, 15 Nov 2022 19:01:52 GMT
- request:
    method: get
    uri: https://api.edamam.com/api/recipes/v2?app_id=20d03121&app_key=e7c6b6e570d82f449b3136a61862350e&q=gerrrrmany&type=public
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"from":1,"to":0,"count":0,"_links":{},"hits":[]}'
  recorded_at: Tue, 15 Nov 2022 19:01:52 GMT
recorded_with: VCR 6.1.0
