---
http_interactions:
- request:
    method: get
    uri: https://youtube.googleapis.com/youtube/v3/search?key=AIzaSyCrvBsWIxIbXchl2G9X2IlgauIbU5Aw7jY&maxResults=1&part=snippet&q=zzzzzzzzzzzzzz&type=video
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#searchListResponse",
          "etag": "xUxz2mSUJzPc2gJPTEXI1Z7-sM0",
          "nextPageToken": "CAEQAA",
          "regionCode": "US",
          "pageInfo": {
            "totalResults": 9515,
            "resultsPerPage": 1
          },
          "items": [
            {
              "kind": "youtube#searchResult",
              "etag": "VmuK4cJUuKX85InyDpeQJFgiw7c",
              "id": {
                "kind": "youtube#video",
                "videoId": "iSFaytabr18"
              },
              "snippet": {
                "publishedAt": "2021-09-29T02:11:19Z",
                "channelId": "UCBRiSsEYkGVR6XBu2lh68Xg",
                "title": "ZzzzzzZzzzzZzz",
                "description": "",
                "thumbnails": {
                  "default": {
                    "url": "https://i.ytimg.com/vi/iSFaytabr18/default.jpg",
                    "width": 120,
                    "height": 90
                  },
                  "medium": {
                    "url": "https://i.ytimg.com/vi/iSFaytabr18/mqdefault.jpg",
                    "width": 320,
                    "height": 180
                  },
                  "high": {
                    "url": "https://i.ytimg.com/vi/iSFaytabr18/hqdefault.jpg",
                    "width": 480,
                    "height": 360
                  }
                },
                "channelTitle": "cezkyut Alfaro",
                "liveBroadcastContent": "none",
                "publishTime": "2021-09-29T02:11:19Z"
              }
            }
          ]
        }
  recorded_at: Sat, 12 Nov 2022 15:25:00 GMT
- request:
    method: get
    uri: https://api.unsplash.com/search/photos?client_id=4G2O97DGj1-7sGxGwXX5x9EzV5SNO9xKpTRg3q6i9WA&query=zzzzzzzzzzzzzz
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Unsplash-Version:
      - v1
      Warning:
      - The tags property in this endpoint is deprecated. https://changelog.unsplash.com/deprecations/2021/07/12/tags-search-deprecation.html
      X-Total:
      - '0'
      X-Per-Page:
      - '10'
      Content-Language:
      - en
      Etag:
      - W/"7814e74bfa62dcc505522924e3c8cf4b"
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: UTF-8
      string: '{"total":0,"total_pages":0,"results":[]}'
  recorded_at: Sat, 12 Nov 2022 15:25:00 GMT
recorded_with: VCR 6.1.0
