---
http_interactions:
- request:
    method: get
    uri: https://restcountries.com/v2/all?fields=name
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"name":"Afghanistan","independent":false},{"name":"Åland Islands","independent":false},{"name":"Albania","independent":false},{"name":"Algeria","independent":false},{"name":"American
        Samoa","independent":false},{"name":"Andorra","independent":false},{"name":"Angola","independent":false},{"name":"Anguilla","independent":false},{"name":"Antarctica","independent":false},{"name":"Antigua
        and Barbuda","independent":false},{"name":"Argentina","independent":false},{"name":"Armenia","independent":false},{"name":"Aruba","i[...]
- request:
    method: get
    uri: https://api.edamam.com/api/recipes/v2?app_id=81d26543&app_key=262130f91261a8e0ddf43423db417fec&q=American%20Samoa&type=public
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"from":1,"to":5,"count":5,"_links":{},"hits":[{"recipe":{"uri":"http://www.edamam.com/ontologies/edamam.owl#recipe_57f57d03d3d8e3464c9593e08cbf118b","label":"Keke
        Pua''a (American Samoa)","image":"https://edamam-product-images.s3.amazonaws.com/web-img/f0a/f0aeee1c697a47c357297c4d928767db.jpg?X-Amz-Security-Token=IQoJb3JpZ2luX2VjEKb%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEaCXVzLWVhc3QtMSJHMEUCIQD4XkhLZtX1PeSWM1uYkOlywTWgTRI3guVUcK%2BkFZKtAwIgNdU9lWueT%2FHt8S64LclKSYHoAnvmXOOqHCnShbCCZ5kq1QQIn%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FARAAGgwxODcwMTcxNTA5ODYiDEQqz1g9qhgGGAlg2iqpBDzCgO9A%2B%2BVoqgX3oTyRD2nS6MVSkusUt%2BYx0Z24dhhg0NWzhltpl7Giqt03adcX%2FcQUqlvKaYM0H3zlPP5hILvPxOt7sZ58dL5ehBFzVYdE2GxgYX7mN7Bmn0lA[...]
