---
http_interactions:
- request:
    method: get
    uri: https://youtube.googleapis.com/youtube/v3/search?key=AIzaSyCrvBsWIxIbXchl2G9X2IlgauIbU5Aw7jY&maxResults=1&part=snippet&q=laos&type=video
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n  \"kind\": \"youtube#searchListResponse\",\n  \"etag\": \"0qxWwEy7qahbOzmIg2PdYSGPhbc\",\n
        \ \"nextPageToken\": \"CAEQAA\",\n  \"regionCode\": \"US\",\n  \"pageInfo\":
        {\n    \"totalResults\": 1000000,\n    \"resultsPerPage\": 1\n  },\n  \"items\":
        [\n    {\n      \"kind\": \"youtube#searchResult\",\n      \"etag\": \"NvMvMCNSPoTN7h65oh1fiCMPo3k\",\n
        \     \"id\": {\n        \"kind\": \"youtube#video\",\n        \"videoId\":
        \"nOpmGFkntb4\"\n      },\n      \"snippet\": {\n        \"publishedAt\":
        \"2022-11-12T11:00:39Z\",\n        \"channelId\": \"UCBQjTfMEcxMlI49KCQAHwYQ\",\n
        \       \"title\": \"The BEST WAY to Travel Luang Prabang, LAOS \U0001F1F1\U0001F1E6\",\n
        \       \"description\": \"Today we are off on another Laos adventure! We've
        rented the most adorable and handy little electric car to take us around the
        ...\",\n        \"thumbnails\": {\n          \"default\": {\n            \"url\":
        \"https://i.ytimg.com/vi/nOpmGFkntb4/default.jpg\",\n            \"width\":
        120,\n            \"height\": 90\n          },\n          \"medium\": {\n
        \           \"url\": \"https://i.ytimg.com/vi/nOpmGFkntb4/mqdefault.jpg\",\n
        \           \"width\": 320,\n            \"height\": 180\n          },\n          \"high\":
        {\n            \"url\": \"https://i.ytimg.com/vi/nOpmGFkntb4/hqdefault.jpg\",\n
        \           \"width\": 480,\n            \"height\": 360\n          }\n        },\n
        \       \"channelTitle\": \"2Passports 1Dream\",\n        \"liveBroadcastContent\":
        \"none\",\n        \"publishTime\": \"2022-11-12T11:00:39Z\"\n      }\n    }\n
        \ ]\n}\n"
  recorded_at: Sat, 12 Nov 2022 15:22:51 GMT
recorded_with: VCR 6.1.0
