---
http_interactions:
- request:
    method: get
    uri: https://youtube.googleapis.com/youtube/v3/search?key=AIzaSyAQLUcdKGxekqFr66wUjN1tOeABS-6BoQs&maxResults=1&part=snippet&q=laos&type=video
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#searchListResponse",
          "etag": "yk1El0CA9nt7z-oj5SmEuAXa8Cw",
          "nextPageToken": "CAEQAA",
          "regionCode": "US",
          "pageInfo": {
            "totalResults": 1000000,
            "resultsPerPage": 1
          },
          "items": [
            {
              "kind": "youtube#searchResult",
              "etag": "-Qe1_d1KaBazuANhzABc1Uzcg-M",
              "id": {
                "kind": "youtube#video",
                "videoId": "8IrjnS1rFdk"
              },
              "snippet": {
                "publishedAt": "2022-11-12T23:00:04Z",
                "channelId": "UCmNP7yrbYxxqQ7ftuZn6ueg",
                "title": "Laos - No Reason to Return here Now | Now in Lao",
                "description": "RANT WARNING!!! I know this video will upset some.. but it's not always sunny and roses do not bloom all year round. Travelling ...",
                "thumbnails": {
                  "default": {
                    "url": "https://i.ytimg.com/vi/8IrjnS1rFdk/default.jpg",
                    "width": 120,
                    "height": 90
                  },
                  "medium": {
                    "url": "https://i.ytimg.com/vi/8IrjnS1rFdk/mqdefault.jpg",
                    "width": 320,
                    "height": 180
                  },
                  "high": {
                    "url": "https://i.ytimg.com/vi/8IrjnS1rFdk/hqdefault.jpg",
                    "width": 480,
                    "height": 360
                  }
                },
                "channelTitle": "Now in Lao",
                "liveBroadcastContent": "none",
                "publishTime": "2022-11-12T23:00:04Z"
              }
            }
          ]
        }
  recorded_at: Mon, 14 Nov 2022 02:33:41 GMT
recorded_with: VCR 6.1.0
