---
http_interactions:
- request:
    method: get
    uri: https://youtube.googleapis.com/youtube/v3/search?key=AIzaSyCrvBsWIxIbXchl2G9X2IlgauIbU5Aw7jY&maxResults=1&part=snippet&q=laos&type=video
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n  \"kind\": \"youtube#searchListResponse\",\n  \"etag\": \"BRt3qu6MwlwHho8U5iieT-lz12I\",\n
        \ \"nextPageToken\": \"CAEQAA\",\n  \"regionCode\": \"US\",\n  \"pageInfo\":
        {\n    \"totalResults\": 1000000,\n    \"resultsPerPage\": 1\n  },\n  \"items\":
        [\n    {\n      \"kind\": \"youtube#searchResult\",\n      \"etag\": \"VJ8vh9PGCjSq-hQ8BFgrfvuzpZw\",\n
        \     \"id\": {\n        \"kind\": \"youtube#video\",\n        \"videoId\":
        \"0GDwDqfzWEE\"\n      },\n      \"snippet\": {\n        \"publishedAt\":
        \"2022-11-11T11:45:00Z\",\n        \"channelId\": \"UCO5IhWS7_CIU1HoAkffBzcg\",\n
        \       \"title\": \"Vientiane, Laos - First Impressions - Not what I expected!!
        \U0001F1F1\U0001F1E6\",\n        \"description\": \"Today is my first Day
        in Vientiane, and my first time visiting Laos!! I am super excited to be exploring
        Vientiane. I have always ...\",\n        \"thumbnails\": {\n          \"default\":
        {\n            \"url\": \"https://i.ytimg.com/vi/0GDwDqfzWEE/default.jpg\",\n
        \           \"width\": 120,\n            \"height\": 90\n          },\n          \"medium\":
        {\n            \"url\": \"https://i.ytimg.com/vi/0GDwDqfzWEE/mqdefault.jpg\",\n
        \           \"width\": 320,\n            \"height\": 180\n          },\n          \"high\":
        {\n            \"url\": \"https://i.ytimg.com/vi/0GDwDqfzWEE/hqdefault.jpg\",\n
        \           \"width\": 480,\n            \"height\": 360\n          }\n        },\n
        \       \"channelTitle\": \"keis one\",\n        \"liveBroadcastContent\":
        \"none\",\n        \"publishTime\": \"2022-11-11T11:45:00Z\"\n      }\n    }\n
        \ ]\n}\n"
  recorded_at: Sat, 12 Nov 2022 09:44:04 GMT
recorded_with: VCR 6.1.0
