---
http_interactions:
- request:
    method: get
    uri: https://youtube.googleapis.com/youtube/v3/search?key=AIzaSyAQLUcdKGxekqFr66wUjN1tOeABS-6BoQs&maxResults=1&part=snippet&q=laos&type=video
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n  \"kind\": \"youtube#searchListResponse\",\n  \"etag\": \"9p39TPeQdlnA5A2JvazLbcnPt9E\",\n
        \ \"nextPageToken\": \"CAEQAA\",\n  \"regionCode\": \"US\",\n  \"pageInfo\":
        {\n    \"totalResults\": 1000000,\n    \"resultsPerPage\": 1\n  },\n  \"items\":
        [\n    {\n      \"kind\": \"youtube#searchResult\",\n      \"etag\": \"Yw3nIfD88FdcoEZV92VGUj7sgcs\",\n
        \     \"id\": {\n        \"kind\": \"youtube#video\",\n        \"videoId\":
        \"NuXtwsE_c5E\"\n      },\n      \"snippet\": {\n        \"publishedAt\":
        \"2022-11-13T11:45:02Z\",\n        \"channelId\": \"UCO5IhWS7_CIU1HoAkffBzcg\",\n
        \       \"title\": \"I was wrong about Vientiane, Laos \U0001F1F1\U0001F1E6\",\n
        \       \"description\": \"In today's video, I talk about the nightlife in
        Vientiane. I have been pleasantly surprised by the nightlife here, being that
        it's such a ...\",\n        \"thumbnails\": {\n          \"default\": {\n
        \           \"url\": \"https://i.ytimg.com/vi/NuXtwsE_c5E/default.jpg\",\n
        \           \"width\": 120,\n            \"height\": 90\n          },\n          \"medium\":
        {\n            \"url\": \"https://i.ytimg.com/vi/NuXtwsE_c5E/mqdefault.jpg\",\n
        \           \"width\": 320,\n            \"height\": 180\n          },\n          \"high\":
        {\n            \"url\": \"https://i.ytimg.com/vi/NuXtwsE_c5E/hqdefault.jpg\",\n
        \           \"width\": 480,\n            \"height\": 360\n          }\n        },\n
        \       \"channelTitle\": \"keis one\",\n        \"liveBroadcastContent\":
        \"none\",\n        \"publishTime\": \"2022-11-13T11:45:02Z\"\n      }\n    }\n
        \ ]\n}\n"
  recorded_at: Mon, 14 Nov 2022 02:46:44 GMT
recorded_with: VCR 6.1.0
