---
http_interactions:
- request:
    method: get
    uri: https://restcountries.com/v2/all?fields=name,alpha2Code,latlng
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"name":"Afghanistan","alpha2Code":"AF","latlng":[33.0,65.0],"independent":false},{"name":"Åland
        Islands","alpha2Code":"AX","latlng":[60.116667,19.9],"independent":false},{"name":"Albania","alpha2Code":"AL","latlng":[41.0,20.0],"independent":false},{"name":"Algeria","alpha2Code":"DZ","latlng":[28.0,3.0],"independent":false},{"name":"American
        Samoa","alpha2Code":"AS","latlng":[-14.33333333,-170.0],"independent":false},{"name":"Andorra","alpha2Code":"AD","latlng":[42.5,1.5],"independent":false},{"name":"Angola","alpha2Code":"AO","latlng":[-12.5,18.5],"ind[...]
